# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.DistributedInventory.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Builds
bin/
obj/

# Rider / VS / VSCode
.idea/
.vscode/
*.user
*.suo

# Logs / db
*.log
*.db
data/

# Test artifacts
TestResults/